**/gen/
**/edmx/
*.db
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings
.pipeline

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea

**/package-lock.json
.ICHAMP_mta_build_tmp/*
*/.factorypath
**/*.zip
*.mta
.factorypath
**/dist/

